{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.dp.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <!-- enctype says our encoding for image so add when deal with image -->
    <!-- if enctype is not present then it not be saveing image in background -->
    <!-- POST request send the data back to the same route -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>

  </div>

{% endblock content %}